<div class="row">
  <div class="col-6">
    EDIT Article
  </div>
<div class="row">
  <div class="col-6">
    <%= render partial: "form" %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= link_to 'Show all Articles', articles_path %>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <%= link_to 'Back to Home', root_path %>
  </div>
</div>
