<%if flash.present? %>
	Errors Occured
	<ul>
		<p> 
			<% flash[:notice].each do | msg| %>
				<li><p style="color: red"><%= msg %> </p></li>
			<% end %>
		</p>
	</ul>
<% end %>

<div align="center">

<h1>New Post to the Blog</h1>

<%= render partial: "form" %>

<br>
<%= link_to 'Show all Articles', articles_path %>
<br><br>
<%= link_to 'Back to Home', root_path %>

</div>